<div class='table-responsive'>
  <table class='table table-bordered table-hover align-middle text-center'>
    <thead class='table-dark'>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Transaction ID</th>
        <th scope='col'>Status</th>
        <th scope='col'>Waktu Pembayaran</th>
        <th scope='col'>Jenis</th>
        <th scope='col'>Order ID</th>
        <th scope='col'>Jumlah</th>
        <th scope='col'>Bank</th>
        <th scope='col'>Approval</th>
        <th scope='col'>Kelola</th>
      </tr>
    </thead>
    <tbody>
      {{#each payments}}
        <tr>
          <th scope='row'>{{increment @index}}</th>
          <td>{{this.transactionId}}</td>
          <td>{{this.transactionStatus}}</td>
          <td>{{this.transactionTime}}</td>
          <td>{{this.paymentType}}</td>
          <td>{{this.order.id}}</td>
          <td>Rp {{this.amount}}</td>
          <td>{{this.bank}}</td>
          <td>{{this.approvalCode}}</td>
          <td>
            <a
              href='/admin/payment/{{this.id}}'
              class='btn btn-sm btn-warning me-1'
            >Details</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>