{{>header}}
<body>
<div class="table-responsive">
  <table class="table table-bordered table-hover align-middle text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>
            <img src="{{this.image}}" alt="{{this.name}}" width="50" height="50" class="img-thumbnail" />
          </td>
          <td>{{this.name}}</td>
          <td>Rp {{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>
            <a href="/products/edit/{{this.id}}" class="btn btn-sm btn-warning me-1">Edit</a>
            <form action="/products/delete/{{this.id}}" method="POST" style="display:inline;">
              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</body>