<h2 class="mb-3">Daftar Pesanan</h2>
  <div class="d-flex gap-2 ms-auto">
    <form method="GET" action="/admin/orders" class="mb-4">
      <div class="d-flex justify-content-center align-items-center gap-2" style="max-width: 500px; margin: auto;">
        <div class="input-group" style="flex: 1;">
          <input
            type="text"
            class="form-control"
            name="id"
            placeholder="Cari ID pesanan..."
            value="{{filters.id}}"
            aria-label="Cari ID pesanan"
          />
          <button class="btn btn-secondary fw-bold" type="submit">
            <i class="bi bi-search"></i> Cari
          </button>
        </div>
        {{#if filters.id}}
          <button type="button" class="btn btn-outline-secondary" id="resetSearchBtn">
            <i class="bi bi-x"></i> Hapus Pencarian
          </button>
        {{/if}}
      </div>
    </form>
  </div>

<div class='table-responsive'>
  <table class='table table-bordered table-hover align-middle text-center'>
    <thead class='table-dark'>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>ID</th>
        <th scope='col'>Pelanggan</th>
        <th scope='col'>Jumlah</th>
        <th scope='col'>Status</th>
        <th scope='col'>Selesai</th>
        <th scope='col'>Dibuat</th>
        <th scope='col'>Diperbarui</th>
        <th scope='col'>Kelola</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <th scope='row'>{{increment @index}}</th>
          <td class="text-start">{{this.id}}</td>
          <td>{{this.user.email}}</td>
          <td class="text-start">Rp {{this.total}}</td>
          <td>{{this.status}}</td>
          {{#if this.completion}}
          <td>✅</td>
          {{else}}
          <td>❌</td>
          {{/if}}
          <td>{{formatDate this.createdAt}}</td>
          <td>{{formatDate this.updatedAt}}</td>
          <td>
            <a
              href='orders/{{this.id}}'
              class='btn btn-sm btn-warning me-1'
            >Detail</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  const resetSearchBtn = document.getElementById('resetSearchBtn');
  if (resetSearchBtn) {
    resetSearchBtn.addEventListener('click', () => {
      const url = new URL(window.location.href);
      url.searchParams.delete('name');
      window.location.href = url.toString();
    });
  }
</script>