<h2 class="mb-4">Profil Pengguna</h2>

<form id="profileForm" >
  <input type="hidden" name="_method" value="PUT" />

  <div class="mb-3">
    <label class="form-label">Nama Lengkap</label>
    <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" disabled />
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" disabled />
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Nomor HP</label>
    <input
      type="tel"
      class="form-control"
      id="phone"
      name="phone"
      value="{{user.phone}}"
      required
    />
  </div>

  <div class="mb-3">
    <label for="address" class="form-label">Alamat</label>
    <textarea
      class="form-control"
      id="address"
      name="address"
      rows="3"
      required
    >{{user.address}}</textarea>
  </div>

  <div class="d-flex justify-content-between">
    <a href="/orders" class="btn btn-outline-secondary">Lihat Pesanan</a>
    <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
  </div>
</form>

<script>
  console.log({{{json user}}})
  document.addEventListener('DOMContentLoaded', () => {
    console.log('DOM loaded');
    const profileForm = document.getElementById('profileForm');
    profileForm.addEventListener('submit', async (e) => {
      e.preventDefault();
      console.log('submit clicked');
      const profileData = {
        name: document.getElementById('name').value,
        email: document.getElementById('email').value,
        phone: document.getElementById('phone').value,
        address: document.getElementById('address').value,
      }

      try {
        const userId = {{{json user.id}}}
        const body = JSON.stringify(profileData)
        console.log('body: ', body);

        const response = await fetch(`/users/${userId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          credentials: 'include',
          body: JSON.stringify(profileData),
        });
        const result = response.json();
        if (response.ok) {
          alert(result.message || 'Profil berhasil diperbarui');
          window.location.reload();
        } else {
          alert(result.message || 'Profil gagal diperbarui');
        }
      } catch (error){
        console.log(error);
        alert('Terjadi kesalahan saat memperbarui profil');
      }
    })

  })
</script>
